body{
    background-color: #FFE0A8;
    font-family: 'Railway', 'sans-serif';
    margin: 5em 15%
}

h1, h4{
    color: red;
}

h3{
    margin-left: 5px;
    color: (167,62,1);
    padding-left:  5px;
}

p{
    text-indent: 5px;
    text-align: auto;
}

a{
    color: (0,165,102);
    text-decoration: blue; 
}

li{
    margin-bottom: 1em;

}

img{
    width: 500px;
}

hr{

    border: grey 5px dotted;
    padding: 1px 1px;
}